################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Assessment-System-Simulator/v16/Browse.VC.opendb
